div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
    margin-right: 2px;
}

div {
	border: 1px solid black;
}

#layout {
	width: 1080px;
	height: 680;
}

#title, #filters, #infobar {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	text-align: center;
}

#title {
	padding-top: -20px;
	text-align: center;
	height: 50px;
}

#visualization {
	width: 800px;
	height:450px;
	float: left;
	border-top: 0;
	text-align: center;
}

#filters {
	width: 276px;
	height:600px;
	float: right;
}

#infobar {
	width: 800px;
	height:150px;
	float: left;
}

.chart rect {
  fill: steelblue;
}

#lollogo {
    -moz-animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
    -o-animation: cssAnimation 0s ease-in 2s forwards;
]    animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

#eq > span {
   height:120px; float:left; margin:15px
}
